#retangulocinza, #retangulocinza2{
    background-color: #aaaaaa;
    height: 60px;
    width: 100%;
}
ul{
    list-style-type: none;
}
nav{
    margin-top: 30px;
}
fieldset{
    width: 80%;
    margin: auto;
}
div{
    width: 100%;
    margin: auto;
}

input{
    margin-bottom: 5px;
    width: 30%;
    text-align: left;
}
label{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 20px;
}
button{
    margin-left: 20px;
}