@font-face {
    font-family: 'JetBrains Regular';
    src: url('../fonts/JetBrainsMono-Regular.ttf');
}
@font-face {
    font-family: 'JetBrains Bold';
    src: url('../fonts/JetBrainsMono-Bold.ttf');
}